body{margin:0;}
#logo {
float: left;
height:10vw;
width:10vw;
}
#tytul {
float: left;
background-color: rgb(179, 179, 179);
height: 10vw;
texst-align: center;
}
#mapa {
clear: both;
height: 90vh;
}
#autorzy {

}